#
# UlisesOS GRUB configuration
#

### BEGIN /etc/grub.d/00_header ###
insmod part_gpt
insmod part_msdos
if [ -s $prefix/grubenv ]; then
  load_env
fi
if [ "${next_entry}" ] ; then
   set default="${next_entry}"
   set next_entry=
   save_env next_entry
   set boot_once=true
else
   set default="0"
fi

if [ x"${feature_menuentry_id}" = xy ]; then
  menuentry_id_option="--id"
else
  menuentry_id_option=""
fi

export menuentry_id_option

if [ "${prev_saved_entry}" ]; then
  set saved_entry="${prev_saved_entry}"
  save_env saved_entry
  set prev_saved_entry=
  save_env prev_saved_entry
  set boot_once=true
fi

function savedefault {
  if [ -z "${boot_once}" ]; then
    saved_entry="${chosen}"
    save_env saved_entry
  fi
}

function load_video {
  if [ x$feature_all_video_module = xy ]; then
    insmod all_video
  else
    insmod efi_gop
    insmod efi_uga
    insmod ieee1275_fb
    insmod vbe
    insmod vga
    insmod video_bochs
    insmod video_cirrus
  fi
}

set menu_color_normal=light-gray/black
set menu_color_highlight=light-magenta/black

if [ x$feature_default_font_path = xy ] ; then
   font=unicode
else
insmod part_gpt
insmod btrfs
search --no-floppy --fs-uuid --set=root 8b5d494b-5b1c-45a2-9086-d99f0ca28e10
    font="/usr/share/grub/unicode.pf2"
fi

## start header steamenv sub block
insmod steamenv
steamenv_loader_mode=auto
steamenv_kernel_mode=keep
steamenv_quiet="loglevel=3 splash quiet plymouth.ignore-serial-consoles fbcon=vc:4-6"
steamenv_noisy="loglevel=5 sysrq_always_enabled splash=verbose fbcon=nodefer"
steamenv_verbosity=""
timeout=0
timeout_style=menu
steamenv_init
## end steamenv header sub block

if loadfont $font ; then
  set gfxmode=${steamenv_loader_mode}
  load_video
  insmod gfxterm
  set locale_dir=$prefix/locale
  set lang=en_US
  insmod gettext
fi
terminal_input console
terminal_output gfxterm
insmod part_gpt
insmod btrfs
search --no-floppy --fs-uuid --set=root 8b5d494b-5b1c-45a2-9086-d99f0ca28e10
if [ "$timeout:$timeout_style" = "-1:menu" ];
then
  insmod gfxmenu
  loadfont ($root)/usr/share/grub/themes/breeze/unifont-bold-16.pf2
  loadfont ($root)/usr/share/grub/themes/breeze/unifont-regular-14.pf2
  loadfont ($root)/usr/share/grub/themes/breeze/unifont-regular-16.pf2
  insmod png
  set theme=($root)/usr/share/grub/themes/breeze/theme.txt
  export theme
fi
### END /etc/grub.d/00_header ###

### BEGIN /etc/grub.d/10_linux ###
set linux_gfx_mode=${steamenv_kernel_mode}
export linux_gfx_mode
menuentry 'UlisesOS 1.0 (Ulises Kernel)' --class ulises --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-simple-8b5d494b-5b1c-45a2-9086-d99f0ca28e10' {
	load_video
	set gfxpayload=$linux_gfx_mode
	insmod steamenv
	insmod gzio
	insmod part_gpt
	insmod btrfs
	search --no-floppy --fs-uuid --set=root 8b5d494b-5b1c-45a2-9086-d99f0ca28e10
	steamenv_boot	linux /boot/vmlinuz-ulises console=tty1 rd.luks=0 rd.lvm=0 rd.md=0 rd.dm=0 rd.systemd.gpt_auto=no log_buf_len=4M nomodeset audit=0 fbcon=vc:4-6 fsck.mode=auto fsck.repair=preen loglevel=3 quiet splash plymouth.ignore-serial-consoles
	initrd	/boot/amd-ucode.img /boot/initramfs-linux-neptune-616.img
}
menuentry 'UlisesOS (QEMU no-steamenv)' {
	set gfxpayload=keep
	insmod btrfs
	search --no-floppy --fs-uuid --set=root 8b5d494b-5b1c-45a2-9086-d99f0ca28e10
	linux /boot/vmlinuz-ulises root=/dev/vda3 rootfstype=btrfs console=ttyS0,115200 log_buf_len=4M nomodeset audit=0 loglevel=7 tsc=reliable steamos.efi=PARTUUID=94718a8e-2d01-44b8-913e-c662479cde38
	initrd /boot/amd-ucode.img /boot/initramfs-linux-neptune-616.img
}
menuentry 'SteamOS (stock kernel - backup)' --class steamos --class gnu-linux --class gnu --class os {
	load_video
	set gfxpayload=$linux_gfx_mode
	insmod steamenv
	insmod gzio
	insmod part_gpt
	insmod btrfs
	search --no-floppy --fs-uuid --set=root 8b5d494b-5b1c-45a2-9086-d99f0ca28e10
	steamenv_boot	linux /boot/vmlinuz-linux-neptune-616 console=tty1 rd.luks=0 rd.lvm=0 rd.md=0 rd.dm=0 rd.systemd.gpt_auto=no log_buf_len=4M amd_iommu=off amdgpu.lockup_timeout=5000,10000,10000,5000 ttm.pages_min=2097152 amdgpu.sched_hw_submission=4 amdgpu.dcdebugmask=0x20000 audit=0 fbcon=vc:4-6 fsck.mode=auto fsck.repair=preen loglevel=3 quiet splash plymouth.ignore-serial-consoles
	initrd	/boot/amd-ucode.img /boot/initramfs-linux-neptune-616.img
}

### END /etc/grub.d/10_linux ###

### BEGIN /etc/grub.d/99_reboot ###
menuentry "System halt" $menuentry_id_option 'system-halt' {
	halt
}

menuentry "System restart" $menuentry_id_option 'system-reboot' {
	reboot
}
### END /etc/grub.d/99_reboot ###
